@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --main-font: 'Montserrat', sans-serif;
  --main-font-size: 16px;
}

/* html {
  overflow-y: scroll;
} */

html,
body {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: #052127;
}

body {
  min-height: 100vh;
}

a {
  color: #052127;
  text-decoration: none;
  transition: 0.1s;
  display: flex;
  align-items: center;
}

.router-link-active:not(#logo-link) {
  font-weight: bold;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
}

header {
  z-index: 3;
  height: 3rem;
  background-color: #21d4fd;
  background-image: url('../images/imageedit_6_5544743324.png'),
    linear-gradient(135deg, #21d4fd 0%, #b721ff 100%);
  position: sticky;
  top: 0;
  padding: 0px 2rem;
  display: flex;
  align-items: center;
}

.page {
  margin-left: 20rem;
  padding: 2rem;
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

@media screen and (max-width: 960px) {
  .page {
    margin-left: 0;
  }
}

.page:not(#home-page) {
  min-height: auto;
}

.page-content {
  margin: auto;
  width: 100%;
  max-width: 960px;
}

.page-content h2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 0.75;
  margin-bottom: 2rem;
}

p {
  max-width: 800px;
}
