@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --main-font: 'Montserrat', sans-serif;
  --main-font-size: 16px;
}

/* html {
  overflow-y: scroll;
} */

html,
body {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}

body {
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.1s;
}

.router-link-active:not(#logo-link) {
  font-weight: bold;
  margin-left: 1rem;
  display: inline-block;
  width: 100%;
}

header {
  height: 3rem;
  background-color: rgb(63, 64, 68);
  position: sticky;
  top: 0;
  padding: 0px 2rem;
  display: flex;
  align-items: center;
}

aside {
  position: fixed;
  top: 3rem;
  width: 20rem;
  background-color: rgb(91, 189, 246);
  height: calc(100vh - 3rem);
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page {
  margin-left: 20rem;
  padding: 2rem;
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-content {
  margin: auto;
  width: fit-content;
  max-width: 960px;
}

.page-content h2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 0.75;
  margin-bottom: 2rem;
}
